/******** + ========== + Blue BackgroundColor Start + ========== + ********/
.city-tour strong, ul.reports, .h3-navbar .donate-btn a:hover,
.wrap-404 a.back,
.wrap-404 button.btn,
.main-slider .owl-carousel button.owl-dot span:hover, .main-slider .owl-carousel button.owl-dot.active span, .banner-tags li:hover, .header .topbar, .city-highlights .owl-carousel .owl-nav button.owl-next:hover, .city-highlights .owl-carousel .owl-nav button.owl-prev:hover, .sub-menu a:hover, .logo-nav-row .dropdown-menu>li>a:hover, .slider-caption a:hover, .Mayor-text a:hover, .title-style-2 a:hover, .city-highlights .owl-carousel .owl-nav button.owl- next:hover, .city-highlights .owl-carousel .owl-nav button.owl-prev:hover, .emergency-info, .stay-connected input[type="submit"], .h2-Mayor-msg .Mayor-txt a:hover, .team-heading a:hover, .h3-slider-caption a:hover, .news-details blockquote, .single-post-tags a:hover, .post-comments-form input[type="submit"], .deprt-icon-box a.rm:hover, a.jobs-link:hover, .community-links-style-two li a img, .widget .upcoming-events li:hover .edate, .contact-team, .newsletter-style2 button, .post-comments-form input[type="submit"], .service-page-bottom .newsletter-form button, .city-updates li.more-news a:hover, .department-links li a, .contact-form input[type="submit"], .event-date-share .edate, .event-gallery .eg-thumb a:hover, a.dbutton, .dn-btn, .single-donation-box .progress .progress-bar, li.form-submit button, .donator-details input[type="submit"], .login-box input[type="submit"], .login-account, .register-account input[type="submit"], .home3.emergency-numbers .newsletter-form button {
	background-color: #f7941e;
}
/******** + ========== + Blue Text Color Start + ========== + ********/

.sub-menu a, .logo-nav-row .dropdown-menu>li>a, .e-numbers .info-num h3, .community-box h6, .twitter-widget a.reply-tw:hover, ul.post-time a i, .add-box i, .event-counter a, .event-content ul.emeta li strong, .event-gallery .eg-thumb a, .campaign-thumb a, ul.participants li strong i {
	color: #f7941e;
}
/******** + ========== + Blue Border Color Start + ========== + ********/

.main-slider .owl-carousel button.owl-dot span:hover, .main-slider .owl-carousel button.owl-dot.active span, .twitter-widget a.reply-tw:hover, .single-post-tags a:hover, .post-comments-form input[type="submit"] {
	border-color: #f7941e;
}
/******** + ========== + Pink BackgroundColor Start + ========== + ********/

.event-share ul a.like, .h3-logo-row ul.quick-links li a:hover,
#search .btn, #search .close, .slider-caption a, .Mayor-msg, .title-style-2 a, .latest-updates h6, .latest-updates ul li:after, .new-thumb a:hover, .thumb a:hover, .ch-box .ch-thumb a:hover, .city-highlights .owl-carousel .owl-nav button.owl-next, .city-highlights .owl-carousel .owl-nav button.owl-prev, .stay-connected, .e-numbers .em-box:hover, span.ecat, .highlights-cityscapes .owl-carousel .owl-nav button.owl- prev, .highlights-cityscapes .owl-carousel .owl-nav button.owl-next, .highlights-cityscapes .owl-carousel .owl-nav button.owl- prev:hover, .highlights-cityscapes .owl-carousel .owl-nav button.owl-next:hover, .community-box a.see-more:hover, .team-heading a, .home3.footer, .become-vol, .cross-btn:hover, .h3-navbar .donate-btn a, .h3-slider-caption a, .title-style-3 p:before, .news-box-f:after, .news-box:hover .news-box-f a, .deprt-icon-box a.rm, a.jobs-link, .recent-events .nav-tabs>li>a, .recent-events .nav-tabs>li>a:after, .recent-events .event-list:after, .event-list a.joinnow:hover, .recent-events .event-list:hover a.joinnow, .community-links-style-two li a:hover img, #h3team-slider .owl-next:hover, #h3team-slider .owl- prev:hover, .event-list-box:hover a.join-now, .widget .upcoming-events .edate, .tags-widget a:hover, .contact-team:hover, .post-comments-form input[type="submit"]:hover, .city-updates li.more-news a, .department-links li a.c9, .gallery-thumb a:hover, .contact-form input[type="submit"]:hover, .event-counter a:hover, .event-share ul a:hover, .campaign-thumb a:hover, .campaign-box:hover a.dbutton, .causes-listing .campaign-box:hover .dn-btn, .single-donation-box .radio-boxes input[type=radio].css- radio+label.css-label:hover, .single-donation-box .radio- boxes input[type=radio].css-radio:checked+label.css-label, .radio-boxes input[type=radio].css-radio+label.css-label:hover, .radio-boxes input[type=radio].css-radio:checked+label.css-label, li.form-submit button:hover, .donator-details input[type="submit"]:hover, .testimonials-section .owl-theme .owl-dots .owl-dot.active span, .testimonials-section .owl-theme .owl-dots .owl-dot span:hover, .login-account input[type="submit"], .register-account input[type="submit"]:hover, .cs-newsletter-form button.subscribe, ul.team-social:after, .call2action a, .h2-Mayor-msg, .newsletter-form button, .community-box a.see-more:hover, .community-box:hover a.see-more, .ecat.c1, .site-pagination .pagination>.active>a, .site-pagination .pagination>.active>a:focus, .site-pagination .pagination>.active>a:hover, .site-pagination .pagination>.active>span, .site-pagination .pagination>.active>span:focus, .site-pagination .pagination>.active>span:hover, .site-pagination .pagination>li>a:focus, .site-pagination .pagination>li>a:hover, .site-pagination .pagination>li>span:focus, .site-pagination .pagination>li>span:hover, .serbox-cap .rm:hover {
	background-color: #d94148;
}
/******** + ========== + Pink Text Color Start + ========== + ********/
.lb-ser-box li:hover h6,
.footer-social a:hover, .some-facts ul li:hover strong, .team-box .team-txt strong, .team-box:hover .team-txt h5, ul.check-list i, .local-box:hover a, .event-post-full:hover .event-post-loc a, .event-post-full:hover .event-post-txt h5 a, .news-post:hover .news-post-txt h5 a, .logo-nav-row ul.nav.navbar-nav.navbar-right .search-btn a, .logo-nav-row ul.nav.navbar-nav.navbar-right .bars-btn a, .logo-nav-row .nav .open>a, .logo-nav-row .nav .open>a:focus, .logo-nav-row .nav .open>a:hover, .logo-nav-row .navbar-nav>li>a:hover, .about-widget a:hover, .widget .recent-posts strong, .widget .recent-posts h6 a:hover, .button-group .button:hover, .button-group .button:active, .button-group .button.is-checked, .local-service-box:hover a, .latest-updates ul li strong a:hover, .event-post:hover .event-post-loc a, .event-post:hover h5 a, .new-thumb a, .thumb a, .ch-box .ch-thumb a, .ch-box .ch-txt ul li a:hover, .ch-box .ch-txt ul li:after, .ch-box .ch-txt h5 a:hover, .query ul li strong, .fact-box strong, .e-numbers .info-num strong, .e-numbers .em-box strong.em-num, .btn-group.share-post button.dropdown-toggle:hover, .news-meta .post-user, .hc-box .hc-box-cap li:after, .hc-box:hover .hc-box-cap h5 a, .hc-box:hover .hc-box-cap li a, .community-box ul li a:hover, .footer-widget ul li a:hover, .news-box:hover .new-txt h6 a, .deprt-icon-box:hover h6 a, .event-list li strong.edate, .event-list li.el-title p i, .recent-events .event-list:hover h6 a, .event-cap h5 a:hover, .event-cap ul li:after, .community-links-style-two li a:hover, .team-info ul li a:hover, #h3team-slider .owl-next, #h3team-slider .owl-prev, .home3.emergency-numbers .e-numbers .em-box i, .event-list-box .edate strong, .event-list-box .event-title p i, .event-list-box:hover .event-title h6 a, .widget h6 a:hover, .team-detail .advisor, .checklist li i, .deprt-icon-box:hover h5 a, .city-updates ul li strong a:hover, .ch-box .ch-txt h6 a:hover, .gallery-thumb a, .add-box-2 i, .event-share ul a:hover.like:after, .campaign-box:hover h6 a, .campaign-box:hover h5 a, .causes-listing .campaign-box:hover h4 a, .login-account input[type="submit"]:hover, .register-account a {
	color: #d94148;
}
/******** + ========== + Pink Border Color Start + ========== + ********/
.h3-logo-row ul.quick-links li a:hover,
.community-box:hover a.see-more, .cs-newsletter-form input.form-control, .cs-txt .countdown-section, .fact-box:hover, .e-numbers .em-box:hover, .community-box a.see-more:hover, .event-list a.joinnow:hover, .recent-events .event-list:hover a.joinnow, #h3team-slider .owl-next:hover, #h3team-slider .owl-prev:hover, .site-pagination .pagination>.active>a, .site-pagination .pagination>.active>a:focus, .site-pagination .pagination>.active>a:hover, .site-pagination .pagination>.active>span, .site-pagination .pagination>.active>span:focus, .site-pagination .pagination>.active>span:hover, .site-pagination .pagination>li>a:focus, .site-pagination .pagination>li>a:hover, .site-pagination .pagination>li>span:focus, .site-pagination .pagination>li>span:hover, .event-list-box:hover a.join-now, .tags-widget a:hover, .post-comments-form input[type="submit"]:hover, .event-share ul a:hover, .single-donation-box .radio-boxes input[type=radio].css-radio+label.css-label:hover, .single-donation-box .radio-boxes input[type=radio].css-radio:checked+label.css-label, .radio-boxes input[type=radio].css-radio+label.css-label:hover, .radio-boxes input[type=radio].css-radio:checked+label.css-label, .fact-box:hover {
	border-color: #d94148;
}
.facts-icon:after {
	box-shadow: 0 0 0 2px #d94148;
}
